:root{

    --bg-gradient:linear-gradient(45deg,var(--color-white),#F4F4F4);

    --color-primary:#FCD462;
    --color-primary-dark:#994000;

    --color-secundary:#3DA4E0;
    --color-secundary-dark:#02476F;

    --color-terciary:#F2F2F2;
    --color-quartenary:#383838;

    --font-color-primary:#383838;

    --color-black:#000;
    --color-gray:#858585;
    --color-white:#fff;

    --font-primary:'Open Sans', sans-serif;
    --font-secundary: 'Ubuntu', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--bg-gradient);
    font-family: var(--font-primary);
    color: var(--font-color-primary);
}
.display-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    max-width: 250px;
    height: 50px;
    border-radius: 5px;
    margin: 0 10px;
    font-family: var(--font-secundary);
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    transition: filter .2s ease-in-out;
}
.btn:hover{
    filter: brightness(75%);
}
.bg-primary{
    background: var(--color-primary);
}
.bg-secundary{
    background: var(--color-secundary);
}
.txt-primary-dark{
    color: var(--color-primary-dark);
}
.txt-secundary-dark{
    color: var(--color-secundary-dark);
}
/* Home */
body.home{
    height: 100vh;
    width: 100vw;
}
body.home #appRoot{
    width: 100%;
    height: 100%;
}
body.home #appRoot .container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
body.home #appRoot .menuPrincipal{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
body.home #appRoot .menuPrincipal ul{
    list-style: none;
    display: flex;
}
body.home #appRoot .menuPrincipal ul li a{
    display: flex;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    color: var(--font-color-primary);
    text-transform: uppercase;
    position: relative;
    transition: opacity .2s ease-in-out;
}
body.home #appRoot .menuPrincipal ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background: var(--color-quartenary);
    transition: transform .2s ease-in-out;
}
body.home #appRoot .menuPrincipal ul li a:hover{
    opacity: 0.7;
}
body.home #appRoot .menuPrincipal ul li a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}
body.home #appRoot .heroContent{
    flex: 1;
    flex-direction: column;
}
body.home #appRoot .heroContent img{
    width: 100%;
    max-width: 600px;
    margin-bottom: 25px;
}
body.home #appRoot .heroContent p{
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 25px;
}
body.home #appRoot .heroContent .heroContentBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 650px;
}
body.home #appRoot #copyright{
    text-align: center;
    margin-bottom: 15px;
}